{% load i18n %}{% autoescape off %}
{% blocktranslate %}Recibiste este correo porque solicitaste restablecer la contraseña en {{ site_name }}.{% endblocktranslate %}

{% translate "Hacé clic en el siguiente enlace para elegir una nueva contraseña:" %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% translate "Tu usuario (correo):" %} {{ user.get_username }}

{% translate "¡Gracias por usar Medisync!" %}

{% blocktranslate %}El equipo de {{ site_name }}{% endblocktranslate %}
{% endautoescape %}
